header.navbar .navbar-brand {
    border-bottom: 1px solid #a9bac4;
  }
  
  .app-header.navbar {
    border-bottom: 1px solid #a9bac4;
  }
  
  @media screen and (max-width: 900px) {
       .navbar-brand {
          display: none !important;
      }
  }
  
//   #category {
//     margin-left: 100px;
// }
  