<div class="animated fadeIn">

  <div class="card">
      <div class="card-header ">
          <div class="row">
              <div class="col-md-12">
                  <i class="tir ti-tank-quality ti-2x  dark-icon"></i>
                  <span class="label info"> {{'lblCatalogClient'|translate|uppercase}}
                  </span>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <app-client-view-table #productList></app-client-view-table>
              </div>

          </div>

      </div>
  </div>
</div>
